html { background-color: white;}

body {background:#F5F5F5; margin:0; padding:0;}

#container {background-color:#FFFFFF; margin:0 auto; padding:0; position:relative; width:1024px;}

#content {
	padding: 4rem;
	
}

h1 {
	font-family: 'CreteRound-Regular', Arial, sans-serif;
	color: $mainBlue;
}

p {
	line-height: 3rem;
	font-size: 2rem;
	font-size: 100;
	padding: 0 3rem;
	
}